.heart{
    --size: clamp(60px, 20vw, 120px);
    width: var(--size);
    height: var(--size);
    background: var(--red);
    transform: rotate(45deg);
    box-shadow: calc(var(--size) * 0.1) calc(var(--size) * -0.1) calc(var(--size) * .2) black,
    calc(var(--size) * 0.1) calc(var(--size) * 0.1) calc(var(--size) * 0.1) black,
    calc(var(--size) * -0.1) calc(var(--size) * 0.1) calc(var(--size) * 0.2) black;
    cursor: pointer;
    position: relative;
    animation: heartbeat 2.4s ease-in-out infinite;
}

.heart::before,
.heart::after{
    content: "";
    width: var(--size);
    height: var(--size);
    background: var(--red);
    position: absolute;
    border-radius: 50%;
}

.heart::before{
    top: calc(var(--size) * -0.5);
    left: 0;
}

.heart::after{
    top: 0;
    left: calc(var(--size) * -0.5);
}

@keyframes heartbeat{
    0% {
        transform: rotate(45deg) scale(1);
    }

    15% {
        transform: rotate(45deg) scale(1.08);
    }

    30% {
        transform: rotate(45deg) scale(1);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}