*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    background: var(--bg);
    color: var(--text);
    font-size: 100%;
}

html, body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    overflow-wrap: break-word;
}

header{
    padding: 16px;
}

main{
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    display: flex;
    align-items: center; /* vertical */
    justify-content: flex-start; /* horizontal */
    padding: 16px;
    margin-inline: auto;
}

main > * {
    max-width: 100%;
}

div {
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
    header{
        padding: 32px;
    }

    main{
        padding: 32px;
    }
}