main{
    gap: clamp(2.5rem, 6vw, 5rem);
}

.timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 1100px;
    width: 100%;
    gap: 4rem;
}

.timer-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 1100px;
    width: 100%;
    border-top: 3px solid var(--green);
}

.time-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.time-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(80px, 22vw, 110px);
    /* border: 3px solid var(--red); */
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 6px 14px color-mix(in srgb, var(--red), transparent 20%);
    background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--red), transparent 60%),
        color-mix(in srgb, var(--red), transparent 100%)
    );
}

.time-section .value {
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.time-section .label {
    font-size: 0.85rem;
    opacity: 1;
    margin-top: 0.25rem;
    color: color-mix(in srgb, var(--green), var(--text) 60%);
}

@media (max-width: 480px) {
    .time-group {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        justify-items: center;
    }

    .time-section {
        width: 100%;
        width: clamp(100px, 22vw, 110px);
    }
}