.nav-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-inline: auto;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-title {
    font-size: clamp(2.75rem, 4vw, 4.5rem);
    line-height: .75;
}

.button {
  background-color: var(--red);
  font-size: clamp(16px, 2.5vw, 20px);
  transition: background-image 20s;
  color: var(--text);
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

main{
    gap: 5rem;
}

.timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 1100px;
    width: 100%;
    gap: 4rem;
}

.timer-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 1100px;
    width: 100%;
    border-top: 3px solid var(--green);
}

.time-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.time-section{
    border: 3px solid var(--red);
    border-radius: 10px;
    padding: 5px;
}