main {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  gap: 1.5rem;
}

.text {
    overflow-y: hidden;
    max-height: 0;
    opacity: 0;
    flex-direction: column;
    transition: max-height 1.0s linear, opacity 1s linear;
    background: var(--green);
    padding: 16px;
    max-width: 100vw;
}

.text.is-open {
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    opacity: 1;
}

p {
  font-size: clamp(16px, 2.5vw, 20px);
}

.button {
  background-color: var(--red);
  font-size: clamp(16px, 2.5vw, 20px);
  transition: background-image 20s;
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}